.home-container {

    .hero {
        padding: 180px 0 100px 0;
        background-image: url('public/imgs/jumbo-1.jpg');
        background-size: cover;
        background-position: cover;
        background-repeat: no-repeat;

        .card {
            border-radius: 10px;
            width: 300px;
            

            .card-body {
                padding: 30px;

                p {
                    font-size: 18px;
                    color: $secondColor;
                    margin-bottom: 40px;
                }

                input {
                    width: 100%;
                    padding: 10px;
                    border-radius: 5px;
                    border: 1px solid $secondColor;
                    margin-bottom: 20px;
                }

                .search-btn {
                    width: 100%;
                    @include blu-btn
                }
            }
        }
    }

    .city {
        padding: 50px 0;

        h3 {
            margin-bottom: 40px;
        }

        .city-img {

            img {
                width: 80%;
                margin: auto;
                border-radius: 10px;
            }

            .caption {
                margin-left: 10px;
            }
        }
    }

    .house-type {
        padding: 50px 0;

        p {
            margin-bottom: 20px;
        }

        .type-content {
            .type-img {
               position: relative;
            
                &:hover .overlay {
                    opacity: 1;
                }

                img {
                    width: 100%;
                    border-radius: 10px;
                }
            }

            .overlay {
                @include overlay;
            }

            .caption {
                margin-left: 10px;
            }
        }
    }

    .servicies {
        padding: 50px 0;

        h3 {
            margin-bottom: 40px;
        }

        .servicies-card {
            border-radius: 10px;
            font-size: 16px;
            margin: 18px;
            padding-top: 20px;
            background-color: $foot-bg;
            box-shadow: 0 0 10px rgba($color: #0000, $alpha: 0.2);

            i {
                font-size: 20px;
            }

            &:hover{
                background-color:grey;
                color: $body-bg;
                transition: 0.5s;
            }
        }
    }

    .register {
        padding: 60px;

        .reg-img {
            padding: 190px 0;
            background-image: url('imgs/boolbnb-register.jpg');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: cover;
            border-radius: 10px;

            .reg-btn {
                @include blu-btn
            }
        }
    }
}
